doctype
html
    head
        title LILOJS
        link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet" href="/stylesheets/style.css")
    body
      nav.navbar.navbar-default.container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='true')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.navbar-collapse.collapse.in(aria-expanded='true', style='')
          include menu
          ul.nav.navbar-nav.navbar-right
            if (currentUser)
              li
                a(href="/profile") #{currentUser.username}
              li
                a(href="/authentication/logout") Logout
            if (!currentUser)
              li
                a(href="/authentication/register") Register
              li
                a(href="/authentication/login") Login

      .container
        if (errorMessage)
          .alert.alert-danger !{errorMessage}
        if (successMessage)
          .alert.alert-success !{successMessage}

      .container
          block main-content

      footer
          p.text-center
              | &copy; Pavel Angelov
              br
              a(href="https://github.com/pawelangelow/lilojs") [Source code]

      include scripts
block page-scripts
