mixin menu(items)
  ul.nav.navbar-nav
    li
      a(href='/') Home
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
        | Contests
        span.caret
      ul.dropdown-menu(role='menu')
        each contest in items
          li
            a(href='/contest/' + contest.id + '/' + contest.title) #{contest.title}
        li.divider
        li
          a(href='/contest/all') All
+menu(locals.menuItems)
