extends ../shared/layout
block main-content
    h1
        | #{contest.title}
    h4
        | Problems
    if contest.problems.length !== 0
        ul.nav.nav-pills
            each problem in contest.problems
              li
                a(href='/problem/' + problem._id) #{problem.title}
    else
        p
            | There are not added problems in this contest.
