extends ../shared/layout

block main-content
  div.row
    div.col-md-3
      include menu

    div.col-md-9
      div.jumbotron.text-center
        h1 Administration
        h3 Welcome to the administration
        h5 Build version:
          strong  #{buildVersion}
