ul.nav.nav-pills.nav-stacked
  li
    a(href='/admin') Home
  li
    a(href='/admin/addContest') Add contest
  li
    a(href='/admin/addProblem') Add problem
  li
    a(href='/admin/addTest') Add test
