extends ../shared/layout
block main-content
    div.jumbotron.text-center
        ul.nav.nav-pills
            li
                a(href='./admin/addContest') Add Contest
            li
                a(href='./admin/addProblem') Add Problem
            li
                a(href='./admin/addTest') Add Test
