extends ../shared/layout
block main-content
    div.jumbotron.text-center
        ul.nav.nav-pills
            li
                a(href='./addContest') Add Contest
            li
                a(href='./addProblem') Add Problem
            li
                a(href='./addTest') Add Test
