mixin menu(items)
    ul.dropdown-menu(role='menu')
        each contest in items
            li
                a(href='/contest/' + contest.id + '/' + contest.title) #{contest.title}
        li.divider
        li
            a(href='/contest/all') All
+menu(locals.menuItems.contests)
