.panel-body
    .progress
        .progress-bar(role='progressbar')
    button.btn.btn-lg.upload-btn(type='button') Upload File
input#upload-input(type='file', name='uploads')
input#fileName(type='hidden', name='fileName')
