.panel-body
    .progress
        #progress-bar2.progress-bar(role='progressbar')
    button#upload-btn2.btn.btn-lg.upload-btn(type='button') Upload File
input#upload-input2(type='file', name='uploads2')
input#fileName2(type='hidden', name='fileName2')
