extends ../shared/layout

block main-content
  form(method="post" class="form-horizontal")
    div(class="col-md-offset-2 col-md-8")
      fieldset.backgrounded
        label(for="username") Username
        input(id="username" class="form-control" type="text" name="username" placeholder="Username")
        br
        label(for="password") Password
        input(id="password" class="form-control" type="password" name="password" placeholder="Password")
        hr
        input(type="submit" class="btn btn-lg btn-primary" value="Login")
