extends ../shared/layout

block main-content
  ul.breadcrumb
    li
      a(href='#') Home
    li
      a(href='#') Contest
    li
      a(href='#') Problem
    li.active Submission

  fieldset.backgrounded
    textarea(id="code" class="form-control code-shower" name="code")

  br

  .row
    .col-md-offset-2.col-md-8
      h4 Tests
      table.table.table-striped.table-hover
        thead
          tr
            th #
            th Date and time
            th Status
            th Review
        tbody
          tr
            td 2
            td Column content
            td Column content
            td
              a(href='#profile', data-toggle='tab', aria-expanded='false') Profile
          tr
            td 3
            td Column content
            td Column content
            td
              a(href='#home', data-toggle='tab', aria-expanded='true') Home
          tr
            td 4
            td Column content
            td Column content
            td Column content
          tr
            td 5
            td Column content
            td Column content
            td Column content
          tr
            td 6
            td Column content
            td Column content
            td Column content
          tr
            td 7
            td Column content
            td Column content
            td Column content
      #myTabContent.tab-content
        #home.tab-pane.fade
          h4 Results for test #3
          p
            | Input data:
            span.text-danger    1 2 3
          p
            | Output data:
            span.text-danger    6
        #profile.tab-pane.fade
          h4 Results for test #4
          p.text-danger
            | Test information is not allowed to be seen!
