html, body {
  height:100%;
  margin:0;
}

body {
  display:flex;
  flex-direction:column;
}

footer {
  margin-top:auto;
}

.backgrounded {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.code-area {
  height: 55vh !important;
}

.code-shower {
  height: 25vh !important;
}
